@font-face {
	font-family: 'icomoon';
	src:url('../vendor/fonts/icomoon.eot?wfb79s');
	src:url('../vendor/fonts/icomoon.eot?wfb79s#iefix') format('embedded-opentype'),
		url('../vendor/fonts/icomoon.ttf?wfb79s') format('truetype'),
		url('../vendor/fonts/icomoon.woff?wfb79s') format('woff'),
		url('../vendor/fonts/icomoon.svg?wfb79s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e9bd";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-github:before {
  content: "\eab0";
}
