* {
  text-align: center;
}

.bio {
  clear: both;
  display: block;
  margin: 30px auto 0 auto;
  width: 75%;
}

.bio > img {
  width: 70%;
}

.bio > h1 {
  margin: 15px auto;
  font-size: 1.4em;
}

.bio > p:last-of-type {
  margin-bottom: 40px;
}
