.icon-menu {
  font-size: 200%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu {
  font-weight: bolder;
}

.navigation {
  text-align: right;
}

li.tab {
  font-size: 100%;
}

.movieInput:focus::-webkit-input-placeholder
{
    color: transparent;
}

#mainText {
  width: 80%;
  margin: 0 auto 20px auto;
  font-family: 'Open Sans', sans-serif;
}

#submitInput {
  margin-left: 2%;
}

#results > img {
  width: 50%;
  padding: 1%;
  border: 3px solid white;
  margin-top: 25px;
  margin-bottom: 15px;
}

#results > h1 {
  margin-bottom: 15px;
}

#results > p {
  font-size: .8em;
  width: 80%;
  margin: 0 auto 15px auto;
}

#restart {
  display: block;
  clear: both;
  margin: 40px auto;
  width: 300px;
  max-width: 100%;
}
