@media (min-width: 800px) {

  body{
    overflow-x: hidden;
  }

  .icon-menu {
    display: none;
  }

  .navigation {
    clear: both;
    background-color: red;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    position: relative;
  }

  .navigation:hover ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    position: relative;
    background-color: red;
  }

  li.tab {
    font-size: 200%;
  }
  li.tab:hover {
    font-size: 205%;
    width: auto;
  }

  .navigation ul li {
    display: inline;
    border: none;
  }

 .articleLayout {
  text-align: center;
  float: left;
  width: 30%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  clear: none;
  }

  .navigation a {
    color: black
  }

}
