body, main {
  background-color: black;
  color: white;
}
/*button design adapted from https://bttn.surge.sh/*/
#watchedButton, #submitInput, #restart {
  padding: 0;
  border-width: 0;
  font-weight: 400;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border: none;
  border-radius: 100px;
  background: #fff;
  color: Red;
}

.navigation a {
  color: white;
}
